@import url('https://rsms.me/inter/inter.css');
@import url('https://api.fonts.coollabs.io/css2?family=Urbanist:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 100px;
  padding: 2rem;
  background-color: #222;
  color: #eee;
  font-family: 'InterVariable', sans-serif;
  line-height: 1.6;
}

body header {
  text-align: center;
  padding: 2rem 0;
  color: #eee;
  font-family: 'Urbanist', Nanum Gothic, sans-serif;
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

a {
  color: #d9291c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #a82016;
}
