@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #000;
  --content-bg: #222;
  --text-color: #eee;
  --header-color: #eee;
  --link-color: #3399ff;
  --link-visited: #6181ff;
  --hr-color: #ccc;
  --title-underline: #eee;
  --button-border: #444;
}

body {
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Outfit', system-ui, sans-serif;
  line-height: 1.6;
}

body.light-mode {
  --bg-color: #f9f9f9;
  --content-bg: #fff;
  --text-color: #111;
  --header-color: #111;
  --link-color: #0066cc;
  --link-visited: #002ad1;
  --hr-color: #999;
  --title-underline: #111;
  --button-border: #ddd;
}

#main-content {
  max-width: 85%;
  margin: 100px auto;
  padding: 2rem;
  background-color: var(--content-bg);
  border-radius: 8px;
}

header {
  text-align: center;
  padding: 2rem 0;
  color: var(--header-color);
  font-family: 'Urbanist', sans-serif;
}

header a,
header a:visited,
header a:hover {
  color: var(--header-color) !important;
}

header h1 {
  font-size: 5rem;
  margin: 0;
  color: var(--header-color);
}

.title { 
  text-align: center; 
  font-size: 2.5em; 
  position: relative; 
  padding-bottom: 1rem; 
  margin-bottom: 2rem; 
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited);
}

hr {
  border: 1px solid var(--hr-color);
  width: 100%;
  margin: 1em auto;
}

button {
  background-color: var(--content-bg);
  color: var(--text-color);
  border-radius: 5px;
  border: 1px solid var(--button-border);

}
