@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

#main-content {
  max-width: 85%;
  margin: 100px auto;
  padding: 2rem;
  background-color: #222;
  border-radius: 8px;
}

body {
  margin: 0 auto;
  padding: 2rem;
  background-color: #000;
  color: #eee;
  font-family: 'Ubuntu', system-ui, sans-serif;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 2rem 0;
  color: #eee;
  font-family: 'Urbanist', Nanum Gothic, sans-serif;
}

header a,
header a:visited,
header a:hover {
  color: #eee !important;
}


header h1 {
  font-size: 5rem;
  margin: 0;
  color: #eee;
}

.title {
  text-align: center;
  font-size: 2.5em; 
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
}


a {
  color: #d9291c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #a82016;
}
